server:
  port: 8761

spring:
  application:
    name: service-registry

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false

logging:
  level:
    com.netflix.eureka: DEBUG
    org.springframework.cloud: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics