server:
  port: 8087

spring:
  application:
    name: notification-service
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${EMAIL_ID}
    password: ${EMAIL_PASSWORD}
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true

messaging:
  pubsub:
    name: ${PUBSUB_NAME}   # <--- Dapr pubsub component name
    topic: ${TOPIC_NAME}   # <--- Topic name

dapr:
  app-id: notification-service
