server:
  port: 8087

spring:
  application:
    name: notification-service

  cloud:
    aws:
      region:
        static: ${AWS_REGION:eu-north-1}
    sqs:
      queue:
        auto-create: false

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${EMAIL_ID}
    password: ${EMAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

sqs:
  queue:
    name: ${AWS_SQS_QUEUE_NAME}

management:
  endpoints:
    web:
      exposure:
        include: health
