services:
  #Kafka Service
  kafka:
    image: 'apache/kafka:latest'
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      - KAFKA_NODE_ID=1
      - KAFKA_PROCESS_ROLES=broker,controller
      - KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka:9093
      - KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER

      # Define two listeners: INTERNAL (for Docker) and EXTERNAL (for Host)
      - KAFKA_LISTENERS=INTERNAL://:9092,EXTERNAL://:19092,CONTROLLER://:9093
      - KAFKA_ADVERTISED_LISTENERS=INTERNAL://kafka:9092,EXTERNAL://localhost:19092
      - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT
      - KAFKA_INTER_BROKER_LISTENER_NAME=INTERNAL
      # Ensure topics are created automatically
      - KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
      - KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=1
      - KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=1
      # 3. Cluster Metadata (Required for KRaft)
      # You can generate a random UUID for this
      - KAFKA_CLUSTER_ID=MkU3OEVBNTcwNTJENDM2Qk

  api-gateway:
#    build: ./backend/api-gateway
    image: springbootmicroervices.azurecr.io/api-gateway:latest
    ports:
      - "8084:8084"
    environment:
      USER_SERVICE_URL: http://user-service:8082
      ORDER_SERVICE_URL: http://order-service:8085
      PAYMENT_SERVICE_URL: http://payment-service:8086
      INVENTORY_SERVICE_URL: http://inventory-service:8088

  user-service:
#    build: ./backend/user-service
    image: springbootmicroervices.azurecr.io/user-service:latest
    ports:
      - "8082:8082"
    depends_on:
      - api-gateway

  order-service:
#    build: ./backend/order-service
    image: springbootmicroervices.azurecr.io/order-service:latest
    ports:
      - "8085:8085"
    depends_on:
      - api-gateway
      - kafka
    environment:
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      PAYMENT_SERVICE_URL: http://payment-service:8086
      INVENTORY_SERVICE_URL: http://inventory-service:8088

  payment-service:
#    build: ./backend/payment-service
    image: springbootmicroervices.azurecr.io/payment-service:latest
    ports:
      - "8086:8086"
    depends_on:
      - api-gateway

  notification-service:
#    build: ./backend/notification-service
    image: springbootmicroervices.azurecr.io/notification-service:latest
    ports:
      - "8087:8087"
    depends_on:
      - api-gateway
      - kafka
    environment:
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      EMAIL_ID: your_email_id_here
      EMAIL_PASSWORD: your_email_password_here # Create app-specific password for security reasons


  inventory-service:
#    build: ./backend/inventory-service
    image: springbootmicroervices.azurecr.io/inventory-service:latest
    ports:
      - "8088:8088"
    depends_on:
      - api-gateway
      - kafka
    environment:
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092

networks:
    default:
        name: springboot-microservices-network
        driver: bridge