services:
  # 1. The Message Broker (Redis)
  redis:
    image: redis:6-alpine
    ports:
      - "6379:6379"

  api-gateway:
#    build: ./backend/api-gateway
    image: springbootmicroervices.azurecr.io/api-gateway:latest
    ports:
      - "8084:8084"
    environment:
      USER_SERVICE_URL: http://user-service:8082
      ORDER_SERVICE_URL: http://order-service:8085
      PAYMENT_SERVICE_URL: http://payment-service:8086
      INVENTORY_SERVICE_URL: http://inventory-service:8088

  user-service:
#    build: ./backend/user-service
    image: springbootmicroervices.azurecr.io/user-service:latest
    ports:
      - "8082:8082"
    depends_on:
      - api-gateway

  order-service:
#    build: ./backend/order-service
    image: springbootmicroervices.azurecr.io/order-service:latest
    ports:
      - "8085:8085"
    depends_on:
      - api-gateway
      - redis
      - order-service-dapr
    environment:
      DAPR_GRPC_ENDPOINT: http://order-service-dapr:50001
      DAPR_HTTP_ENDPOINT: http://order-service-dapr:3500
      LOG_LEVEL_ORDERSERVICE: DEBUG

    # 3. The Dapr Sidecar for your service
  order-service-dapr:
    image: "daprio/daprd:latest"
    entrypoint: ["/daprd"]
    command: [
      "--app-id", "order-service",
      "--app-port", "8085",
      "--resources-path", "/dapr/local",
      "--app-channel-address", "order-service"
    ]
    volumes:
      - "./dapr/local:/dapr/local:ro"

  notify-service-dapr:
    image: "daprio/daprd:latest"
    entrypoint: ["/daprd"]
    command: [
      "--app-id", "notification-service",
      "--app-port", "8087",
      "--resources-path", "/dapr/local",
      "--app-channel-address", "notification-service"
    ]
    volumes:
      - "./dapr/local:/dapr/local:ro"

  inventory-service-dapr:
    image: "daprio/daprd:latest"
    entrypoint: ["/daprd"]
    command: [
      "--app-id", "inventory-service",
      "--app-port", "8088",
      "--resources-path", "/dapr/local",
      "--app-channel-address", "inventory-service"
    ]
    volumes:
      - "./dapr/local:/dapr/local:ro"

  payment-service-dapr:
    image: "daprio/daprd:latest"
    entrypoint: ["/daprd"]
    command: [
      "--app-id", "payment-service",
      "--app-port", "8086",
      "--resources-path", "/dapr/local",
      "--app-channel-address", "payment-service"
    ]
    volumes:
      - "./dapr/local:/dapr/local:ro"

  payment-service:
#    build: ./backend/payment-service
    image: springbootmicroervices.azurecr.io/payment-service:latest
    ports:
      - "8086:8086"
    depends_on:
      - api-gateway

  notification-service:
#    build: ./backend/notification-service
    image: springbootmicroervices.azurecr.io/notification-service:latest
    ports:
      - "8087:8087"
    depends_on:
      - api-gateway
      - redis
      - notify-service-dapr
    environment:
      DAPR_GRPC_ENDPOINT: http://order-service-dapr:50001
      DAPR_HTTP_ENDPOINT: http://order-service-dapr:3500
      EMAIL_ID: your_email_id_here
      EMAIL_PASSWORD: your_email_password_here # Create app-specific password for security reasons

  inventory-service:
#    build: ./backend/inventory-service
    image: springbootmicroervices.azurecr.io/inventory-service:latest
    ports:
      - "8088:8088"
    depends_on:
      - api-gateway
      - redis

networks:
    default:
        name: springboot-microservices-network
        driver: bridge