services:
# localstack container to simulate AWS services locally
  localstack:
    container_name: "${LOCALSTACK_DOCKER_NAME:-localstack-main}"
    image: localstack/localstack
    ports:
      - "127.0.0.1:4566:4566"            # LocalStack Gateway
      - "127.0.0.1:4510-4559:4510-4559"  # external services port range
    environment:
      # LocalStack configuration: https://docs.localstack.cloud/references/configuration/
      - SERVICES=sns,sqs
      - DEFAULT_REGION=us-east-1
      - DEBUG=${DEBUG:-0}
    volumes:
      - "${LOCALSTACK_VOLUME_DIR:-./volume}:/var/lib/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"

  api-gateway:
#    build: ./backend/api-gateway
    image: 593793049094.dkr.ecr.eu-north-1.amazonaws.com/dev-api-gateway:latest
    ports:
      - "8084:8084"
    environment:
      USER_SERVICE_URL: http://user-service:8082
      ORDER_SERVICE_URL: http://order-service:8085
      PAYMENT_SERVICE_URL: http://payment-service:8086
      INVENTORY_SERVICE_URL: http://inventory-service:8088
#      LOG_LEVEL_GATEWAY: DEBUG


  user-service:
#    build: ./backend/user-service
    image: 593793049094.dkr.ecr.eu-north-1.amazonaws.com/dev-user-service:latest
    ports:
      - "8082:8082"
    depends_on:
      - api-gateway

  order-service:
#    build: ./backend/order-service
    image: 593793049094.dkr.ecr.eu-north-1.amazonaws.com/dev-order-service:latest
    ports:
      - "8085:8085"
    depends_on:
      - api-gateway
      - localstack
      - payment-service
      - inventory-service
    environment:
      SPRING_PROFILES_ACTIVE: dev
      AWS_ACCESS_KEY_ID: test
      AWS_SECRET_ACCESS_KEY: test
      AWS_REGION: us-east-1
      LOCALSTACK_ENDPOINT: http://localstack:4566
      AWS_SNS_TOPIC_ARN: arn:aws:sns:us-east-1:000000000000:order-topic
      PAYMENT_SERVICE_URL: http://payment-service:8086
      INVENTORY_SERVICE_URL: http://inventory-service:8088

  payment-service:
#    build: ./backend/payment-service
    image: 593793049094.dkr.ecr.eu-north-1.amazonaws.com/dev-payment-service:latest
    ports:
      - "8086:8086"
    depends_on:
      - api-gateway

  notification-service:
#    build: ./backend/notification-service
    image: 593793049094.dkr.ecr.eu-north-1.amazonaws.com/dev-notification-service:latest
    ports:
      - "8087:8087"
    depends_on:
      - api-gateway
      - localstack
    environment:
      SPRING_PROFILES_ACTIVE: dev
      AWS_ACCESS_KEY_ID: test
      AWS_SECRET_ACCESS_KEY: test
      AWS_REGION: us-east-1
      AWS_SQS_QUEUE_NAME: notification-queue
      EMAIL_ID: your_email_id_here
      EMAIL_PASSWORD: your_email_password_here # Create app-specific password for security reasons
      LOCALSTACK_ENDPOINT: http://localstack:4566


  inventory-service:
#    build: ./backend/inventory-service
    image: 593793049094.dkr.ecr.eu-north-1.amazonaws.com/dev-inventory-service:latest
    ports:
      - "8088:8088"
    depends_on:
      - api-gateway

networks:
    default:
        name: springboot-microservices-network
        driver: bridge