server:
  port: 8085
  error:
    include-message: always
    include-binding-errors: always
    whitelabel:
      enabled: false

spring:
  application:
    name: order-service

messaging:
  pubsub:
    name: ${PUBSUB_NAME}   # <--- Dapr pubsub component name
    topic: ${TOPIC_NAME}   # <--- Topic name

dapr:
  app-id: order-service

logging:
  level:
    com.gorantla.orderservice: ${LOG_LEVEL_ORDERSERVICE:=INFO}
