server:
  port: 8085

spring:
  application:
    name: order-service

  cloud:
    aws:
      region:
        static: ${AWS_REGION:eu-north-1}

sns:
  topic:
    arn: ${AWS_SNS_TOPIC_ARN}

payment:
  service:
    url: ${PAYMENT_SERVICE_URL}

resilience4j.circuitbreaker:
  instances:
    myCircuitBreaker:
      registerHealthIndicator: true
      slidingWindowSize: 5
      failureRateThreshold: 50
      waitDurationInOpenState: 11s
      permittedNumberOfCallsInHalfOpenState: 3
      recordExceptions:
        - org.springframework.web.client.HttpServerErrorException
        - org.springframework.web.client.ResourceAccessException


logging:
  level:
    io.github.resilience4j.circuitbreaker: DEBUG
    io.github.resilience4j.spring6.circuitbreaker: DEBUG
    org.springframework.aop: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: health