server:
  port: 8085
  error:
    include-message: always
    include-binding-errors: always
    whitelabel:
      enabled: false

spring:
  application:
    name: order-service

dapr:
  app-id: order-service

logging:
  level:
    com.gorantla.orderservice: ${LOG_LEVEL_ORDERSERVICE:=INFO}
