server:
  port: 8084

spring:
  application:
    name: api-gateway
  error:
    include-message: always
    include-binding-errors: always
    whitelabel:
      enabled: false
  cloud:
    gateway:
#      globalcors:
#        corsConfigurations:
#          '[/**]':
#            allowedOrigins: "http://localhost:3000"
#            allowedMethods:
#              - GET
#              - POST
#              - PUT
#              - DELETE
#              - OPTIONS
#            allowedHeaders: "*"
#            allowCredentials: true
      routes:
        - id: user-service
          uri: ${USER_SERVICE_URL}
          predicates:
            - Path=/api/users/**
        - id: order-service
          uri: ${ORDER_SERVICE_URL}
          predicates:
            - Path=/api/order/**
        - id: payment-service
          uri: ${PAYMENT_SERVICE_URL}
          predicates:
            - Path=/api/payment/**
        - id: inventory-service
          uri: ${INVENTORY_SERVICE_URL}
          predicates:
            - Path=/api/inventory/**

logging:
  level:
    org.springframework.cloud.gateway: ${LOG_LEVEL_GATEWAY:=INFO}

management:
  endpoints:
    web:
      exposure:
        include:
          - health
          - info
          - metrics