name: Spring Boot Microservices CI/CD

on:
  push:
    branches: [ "dev" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    environment: dev

    #  Use JDK 21 for building spring boot microservices.
    #  Use springboot maven plugin with buildpacks to create docker images and push to Azure Container Registry
    #  Use parent pom.xml to build all microservices
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Login to Azure Container Registry
        uses: docker/login-action@v3 # This approach needs admin rights on the repo
        with:
          registry: springbootmicroervices.azurecr.io
          username: ${{ secrets.AZURE_ACR_USERNAME }}
          password: ${{ secrets.AZURE_ACR_PASSWORD }}

#          ToDO: Alternatively, use Azure/login@v1 to login to Azure and then use Azure/ACR@v1 to login to ACR without needing admin rights on the repo
#              Or use Github OIDC and federated credentials to login to Azure

      - name: Give execute permission to mvnw
        run: chmod +x mvnw

      - name: Build and Push Microservice Images to ACR
        run: |
          ./mvnw -B clean package -DskipTests --file pom.xml
          
          SERVICES=("service-registry" "api-gateway" "user-service" "order-service" "payment-service" "notification-service" "inventory-service")
          
          for SERVICE in "${SERVICES[@]}"; do
            echo "Building and pushing $SERVICE..."
            ./mvnw spring-boot:build-image -pl backend/$SERVICE -Dspring-boot.build-image.imageName=$AZURE_CONTAINER_REGISTRY/$SERVICE:latest
          done